[Unit]
Description=SevenCourts Demo

Requires=local-fs.target 7c-hostname.service
After=7c-hostname.service
DefaultDependencies=no

[Service]
Type=simple
Restart=on-failure

## Dirs
ProtectSystem=strict
ProtectHome=true
WorkingDirectory=/opt/7c

## Env
#Environment=BLOCKING_MAX_THREADS=16

ExecStart=/bin/sh rpi-rgb-led-matrix/bindings/python/rpi-rgb-led-matrix-7c/demo.sh

[Install]
WantedBy=basic.target