[Unit]
Description=SevenCourts scoreboard vertical mode

Requires=local-fs.target 7c-hostname.service
After=7c-hostname.service
DefaultDependencies=no
Conflicts=7c.service

[Service]
Type=simple
Restart=always
RestartSec=5

## Dirs
ProtectHome=true
WorkingDirectory=/opt/7c/rpi-rgb-led-matrix/bindings/python/rpi-rgb-led-matrix-7c

ExecStart=/bin/sh m1_vertical.sh

[Install]
WantedBy=basic.target
