[Unit]
Description=SevenCourts scoreboard

Requires=local-fs.target
After=local-fs.target
DefaultDependencies=no

[Service]
Type=simple
Restart=always
RestartSec=5

## Dirs
ProtectHome=true
WorkingDirectory=/opt/7c

ExecStart=/bin/sh rpi-rgb-led-matrix/bindings/python/rpi-rgb-led-matrix-7c/m1.sh

[Install]
WantedBy=basic.target
